*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
	font-family: 'Segoe UI',sans-serif;
    font-weight: 400;
	line-height: 1.5;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 16px;
	color:#fff;
	text-transform: uppercase;
}

img {
    border-style: none;
    display: block;
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0
}

ul {
    padding: 0
}

li {
    list-style: none
}

a,a:active,a:hover {
    text-decoration: none;
}

.header{
	background: url(../img/galaxy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.flex-header {
    padding: 20px 0;
}

.container-base {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    position: relative;
}

.container-base-two {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    position: relative
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

img.logo__link {
	height: auto; 
    width: auto; 
    max-width: 60px; 
    max-height: 60px;
    padding-top: 10px;
}

.logo__name a{color:#fff;font-style: italic;font-weight:400;font-size:16px;}

.nav .nav-list {
    display: flex;
    font-size: 1rem;
    overflow: hidden;
}

.nav .nav-list>li {
    position: relative;
}

.nav .nav-list>li>a {
    display: block;
	color: #fff;
    border-bottom: 1px solid transparent;
    padding: 5px 5px;
}

.nav .nav-list>li>a:hover {
    border-bottom: 1px solid #fff;
  }
  
  .nav .nav-list>li>a.active {
    border-bottom: 1px solid #fff;
  }

.nav .nav-list>li {
    margin-right: 2rem;
}

.nav-list__item--current {
    border-bottom: 3px solid #ffffff;
}

form{display: flex; background: #fff;align-items: center;border-radius: 100px;}

.d1 input, .d1 button {
  border: none;
  border-radius:100px;
  outline: none;
  background: #fff;
}
.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 20px;
}
.d1 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

img.poisk{height: auto; 
    width: auto;
    max-height: 20px;
	padding-right: 20px;}

.one-block {padding-top:250px; padding-bottom:400px; width:40%; color: #fff;text-align: right;}

.button-one{
    float: right;
    text-align: center;
    background:#7D33C5; 
    border-radius: 50px;
    padding:16px 20px; 
    margin:30px 0; 
    text-align:center; 
    width:60%; 
    color: #fff; 
    font-size: 18px;}

.two-block{background:#303B4C;}
.two-block-content{padding:250px 0px;display: grid;
  grid-template-columns: repeat(2, 1fr);gap:35px;}
.card{color: #fff;}

.three-block{background: url(../img/les.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
    text-align:center; 
    color: #fff;}
.three-block-content{background-color: rgba(231,81,107, 0.8); padding:250px 0px;z-index:1;}
.three-block p{width:30%;margin: 0 auto;}
.button-three{  text-align:center; width:50%; color: #e7516b;margin: 0 auto; font-size:18px;font-weight:700; margin-top:30px;}
.button-three p {background:#fff; border-radius: 50px;padding:16px 20px;}
.foo-block{
	display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.foo-text {
    padding: 50px 20px;
    width: 100%;
}

.foo-text h4{color: #000;}
.fo {
    width: 100%;
}
.foo-block img {
    width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.five-block{background: url(../img/canon.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; text-align:center; color: #fff;
}
.five-block-content{background-color: rgba(76,31,92, 0.8); padding:250px 0px;z-index:1;}
.five-block p{width:30%;margin: 0 auto;}
.button-five{background:#8824cd; border-radius: 50px;padding:16px 20px; text-align:center; width:15%; color: #fff;margin: 0 auto; font-size:18px;font-weight:700; margin-top:30px;margin-bottom:20px;}
.button-five p{width:100%;}

.six-block{
	padding:250px 0px;
	background: url(../img/food1.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.button-six{border: 1px solid #fff; border-radius:100px;text-align:center;margin-right: 85%;}
.button-six p{color:#fff;padding:8px 0;}
.six-block h1 {color:#fff; padding-right:400px; padding-top: 20px; padding-bottom:20px;}
.flex-photo{
	display:flex;
	align-items:center;
}
.six-text p{color:#fff; padding-left:20px;}

.seven-block{
	display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.seven-text {
	padding: 50px 40px 50px 0;
}

.seven-text h4{color: #000;}

.seven-block img {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.sev {
    width: 100%;
}

.eight-block{
		background: #e7516b;
		padding:100px 0px;
}

.eight-block p{color:#fff;padding-top:15px; padding-bottom: 5px;}
.eight-block a{color:#fff;text-decoration: underline;}

.nine-block{
		background: #2d3b4d;
		padding:100px 0px;
}

.nine-block p{color:#fff;}

@media (min-width: 1024px) and (max-width: 1440px){
    .container-base-two {
        max-width: 60rem;
    }
    .container-base {
        max-width: 60rem;
    }
    .button-one {
        width: 80%;
    }
    .three-block p {
        width: 60%;
    }
    .button-five {
        width: 35%;
    }
    .five-block p {
        width: 60%;
    }

}
@media (min-width: 767px) and (max-width: 1024px) {
    .container-base-two {
        max-width: 45rem;
    }
    .container-base {
        max-width: 45rem;
    }
    h1, h2 {
        font-size: 35px;
    }
    .button-one {
        width: 80%;
    }
    .three-block p {
        width: 60%;
    }
    .button-five {
        width: 35%;
    }
    .five-block p {
        width: 60%;
    }
    .one-block {
        width: 50%;
        padding-top: 100px;
        padding-bottom: 250px;
    }
    .two-block-content, .three-block-content, .five-block-content, .six-block {
        padding: 100px 0px;
    }
    
}

@media (max-width: 767px) {

    .nav {
        display: block;
    }

    .nav .nav-list {
        justify-content: space-between;
        margin: 10px 0;
    }

    h1, h2 {
        font-size: 30px;
    }

    .container-base-two {
        max-width: 35rem;
    }
    .container-base {
        max-width: 35rem;
    }
    .one-block {
        text-align: center;
        padding: 100px 0;
        margin: 0 auto;
        width: 90%;
    }

    .foo-block img {
        margin-top: 50px;
    }
    
    .seven-block img {
        margin-bottom: 50px;
    }

    .button-one{
        text-align: center;
        float:none;
        width: 60%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .two-block-content {
        padding: 100px 0px;
        gap:25px;
        grid-template-columns: repeat(1, 1fr);;
    }
    .three-block-content {
        padding: 100px 0px;
    }
    .three-block p {
        width: 70%;
    }
    .button-three {
        text-align: center;
        width: 70%;
    }
    .foo-block {
        display: block;
    }
    .foo-text {
        padding: 50px 0;
        width: 100%;
    }
    .five-block-content {
        padding: 100px 0px;
    }
    .five-block p{
        width: 70%;
    }
    .button-five{
        width: 70%;
    }
    .six-block {
        padding: 100px 0px;
        background-position: initial;
    }
    .six-block h1{
        padding-right: 0;
    }
    .button-six {
        width: 100%;
    }
    .seven-block{
        display: block;
    }
    .seven-text{
        padding: 50px 0;
    }   
}

@media (min-width: 425px) and (max-width: 625px) {
    .container-base-two {
        max-width: 25rem;
    }
    .container-base {
        max-width: 25rem;
    }
    .button-one {
        width: 100%;
    }
    .three-block p {
        width: 70%;
    }
    .button-five {
        width: 60%;
    }
    .five-block p {
        width: 70%;
    }
}

@media (max-width: 425px) {


    .one-block, .two-block-content, .three-block-content, .foo-text, .five-block-content, .six-block, .seven-text, .eight-block, .nine-block{
        padding: 40px 0;
    }
    h1, h2 {
        font-size: 25px;
    }
    .container-base {
        max-width: 20rem;
    }
}
    @media (min-width: 319px) and (max-width: 425px) {
        .nav .nav-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:15px;}
        
        .container-base-two {
            max-width: 18rem;
        }
        .container-base {
            max-width: 18rem;
        }
        .button-one {
            width: 100%;
        }
        .three-block p {
            width: 100%;
        }
        .button-five {
            width: 100%;
        }
        .five-block p {
            width: 100%;
        }
        .five-block-content, .three-block-content {padding: 50px 50px;}
        
        .five-block-content, .three-block-content {
            padding: 40px 20px;
        }
   
}